
header{
    background-color: chocolate;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
article{
    background-color: rgb(131, 147, 148);
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article p{
    font-size: 20px;
}
article img{
    width: 25%;
    height: 25%;
}
.principal{
    display: flex;
    flex-direction: row;
    gap: 2.5%;
}
aside{
    width: 35%;
    background-color: blueviolet ;
}
aside img{
    width: 80%;
    height: 80%;
}